@font-face {
  font-family: 'Fredoka';
  src: local("Fredoka"), url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap') format ('woff');
}

:root {
  --h1-font-family: 'Fredoka';
  --font-family-base: 'Fredoka';
}